<header class="masthead">
  <div class="container">
    <div class="masthead-heading text-uppercase">Contact</div>
    <p>お問い合わせについては、下記連絡先よりお願いいたします。</p>
    <p>-連絡先-</p>
    <p>住所：東京都</p>
    <p>社名：(株)Schedule</p>
    <p>メールアドレス：schedule2020app@gmail.com</p>
  </div>
</header>


   