<header class="masthead">
  <div class="container">
    <div class="masthead-heading text-uppercase">Qusetions</div>
    <p>Q：アプリの使用には会員登録が必要ですか？</p>
    <p>A：はい、会員登録が必要ですので、<%= link_to "こちら", signup_path %>より登録してください。</p>
    <br>
    <p>Q：アプリの使用は有料ですか？</p>
    <p>A：いいえ、アプリの使用に料金は発生しません。</p>
    </br>
  </div>
</header>
