<!--カレンダー表示ページ-->
<!--<header class="masthead2">-->
<!--</header> -->
<header class="masthead3">
</header> 

<div class = "calendar-1">

<br>  
 <div class = "schedule-enter">
  <%= link_to 'スケジュールを入力', new_user_meeting_path(current_user), class: "btn btn-primary-2" %>
 </div>
<br>

<div class = "schedule-calendar">
<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
      <%= link_to meeting.title, user_meeting_path(@user, meeting) %>
    </div>
  <% end %>
  
<% end %>
</div>

</div>




 
