<!--カレンダー表示ページ-->
<header class="masthead2">
</header>  
<div class = "calendar-1">
  
<div class = "schedule-enter">
  <%= link_to 'スケジュールを入力', new_user_meeting_path(@meetimg.id) %>
 </div>

<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
      <%= link_to meeting.title, user_meeting_path(@meeting.id) %>
    </div>
  <% end %>
<% end %>

</div>

