
<header class="masthead2">
<% provide(:title, @user.name) %>
<div class="container">
  <div class="row">
    <div class="col bg-primary">
      form
    </div>
    <div class="col bg-secondary">
      figure
    </div>
  </div>
  <div class="row">
    <div class="col bg-warning">
      log
    </div>
  </div>
  
  <p>
    <%= link_to "My Schedule ã¸", user_meetings_path(current_user) %>
  </p>
</div>
</header>


